{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
<div class="example-wrapper">

    {% set basket = app.session.get('basket') %}

    {% if error is defined %} {{ error }} {% endif %}

{% if basket is null %}
    <p> You have no electives in your basket </p>

   {% else %}

            {% for course in basket %}
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ course.id }}</td>

                    <th>Title</th>
                    <td>{{ course.title }}</td>

                    <th>Price</th>
                    <td> {{ course.price }}</td>

                    <th><button class="btn"><a href="{{ path('basket_delete',{ 'id': course.id }) }}">Remove</a>
                        </button></th>
                </tr>
            {% endfor %}
       </tbody></table>
{% endif %}
        <p>
            <button class="btn"><a href="{{ path('course_index') }}">Continue shopping</a></button>
        </p>
        <p>
            <button class="btn"><a href="{{ path('basket_clear') }}">Clear all items in basket</a></button>
        </p>

        <p>
            <button class="btn"><a href="{{ path('basket_buy') }}">BUY</a></button>
        </p>
    {% endblock %}