{{ form_start(form) }}
{#
    we show the fields individually - we choose form_row instead of form_widget
    https://symfony.com/doc/current/form/form_customization.html
    #}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.fullName) }}
    {#{{ form_row(form.paidCourses) }}#}
    {{ form_row(form.notes) }}

    {# we need to add hidden token csrf secure it when we use form_row #}
    {{ form_widget(form._token) }}
<button type="submit" class="btn">{{ button_label|default('Save') }}</button>

{# we need to switch off render for the remaining fields of the form - render_rest:false #}
{{ form_end(form, {'render_rest': false}) }}