{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

  {#  {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.paidCourses ) }}
        {{ form_row(form.notes) }}
    {{ form_end(form) }}#}

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <br>
    <button class="btn">
    <a href="{{ path('user_account',{'id':app.user.id}) }}">Go Back</a>
    </button>
    <br><br>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}